@import 'styles/mixins';
@import 'styles/colors';

.main {
  color: white;
  background-color: $background-color;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 100%;
  min-height: inherit;
}

@include for-tablet-landscape-up {
  .mainContainer {
    padding: 0 8em;
    padding-top: 120px;
    padding-bottom: 60px;
    height: 100%;
  }
}
