.btn {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 13pt;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  line-height: inherit;

  &.fitContent {
    max-width: fit-content;
  }

  &:hover,
  &:active {
    background-color: #4d4d4d;
    outline: none;
  }

  &:hover span,
  &:active span {
    margin-left: 1.5rem;
  }

  &.btnDanger {
    background-color: rgb(255, 214, 221);
    color: tomato;
  }

  &.btnDanger:hover,
  &.btnDanger:active {
    background-color: rgb(255, 187, 198);
  }

  span {
    margin-left: 1rem;
    transition: 0.2s;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i {
      font-size: 32px;
      padding: 0 0.3em;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}
