@import 'styles/mixins';

.cardGrid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1em 0;
}

@include for-tablet-portrait-up {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include for-tablet-landscape-up {
  .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
