@import 'styles/mixins';
@import 'styles/colors';

.postView {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  text-align: left;

  .postImgContainer {
    .postImg {
      display: block;
      width: 100%;
      max-height: 30rem;
      object-fit: contain;
      background-color: $background-color-light;
    }
  }

  .postDetail {
    padding-top: 1rem;
  }

  .postRelated {
    h2 {
      padding: 1.5em 0;
    }
  }
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  margin: 0.1em;
  padding: 0.3em 0;
}

.subtitle {
  margin: 0.3em 0;
  font-weight: 300;
}

.price {
  color: darkred;
  min-width: fit-content;
}

.rating {
  color: darkred;
}

@include for-tablet-landscape-up {
  .postView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }

  .postImgContainer {
    grid-column: 1 / 3;
  }

  .postImg {
    max-height: 40rem;
  }

  .postRelated {
    grid-column: 1 / 4;
  }
}
