@import 'styles/mixins';
.container {
  padding: 0.5em 1em;
  .filters {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    .searchBox {
      flex: 1;
    }
    .selectFilter {
      flex: 1;
      font-size: 16px;
      padding: 0.5em 0;
    }
    @include for-tablet-landscape-up {
      flex-direction: row;
      justify-content: space-between;
      align-items: inherit;
      padding: 0 0 1em;
      .searchBox {
        padding-right: 1em;
      }
      .selectFilter {
        padding: 0 0 0 1em;
      }
    }
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
}

.selectLabel {
  display: none;
}
