@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 960px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 960px) {
    @content;
  }
}
