@import 'styles/colors';

.gridItem {
  background-color: $background-color;
  color: white;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.1);
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  }
}

.cardImg {
  display: block;
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.cardContent {
  padding: 1rem 1rem;
}
.cardHeader {
  font-size: 1.4rem;
  font-weight: 500;
  color: whitesmoke;
  margin-bottom: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardText {
  line-height: 1.4;
  color: whitesmoke;
  margin-bottom: 1rem;
}
.cardActions {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  margin-top: 0.5em;
}
.btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 13pt;
  text-align: center;
  color: cyan;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover,
.btn:active {
  background-color: #3bf2ff44;
}
.btn:hover span,
.btn:active span {
  margin-left: 1.5rem;
}
.btnDanger {
  background-color: rgb(255, 214, 221);
  color: tomato;
}

.btn.btnDanger:hover,
.btn.btnDanger:active {
  background-color: rgb(255, 187, 198);
}
.btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
