@import 'styles/colors';

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.loader {
  border: 16px solid $background-color;
  border-radius: 50%;
  border-top: 16px solid $link-hover;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
