.formControl {
  margin-bottom: 1.2em;
  position: relative;

  label {
    display: inline-block;
    margin-bottom: 0.2em;
    font-weight: 300;
  }

  input,
  textarea {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    color: whitesmoke;
    padding: 0.7em 1.5em 0.7em 0.7em;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    outline: none;
    &:active,
    &:focus {
      border-inline: 2px solid #fff;
    }
  }

  textarea {
    resize: none;
  }

  i {
    color: tomato;
    visibility: hidden;
    position: absolute;
    top: 2.2em;
    right: 0.5em;
  }

  small {
    visibility: hidden;
    bottom: -10px;
    left: 0;
  }

  .error {
    input,
    textarea {
      border-color: tomato;
    }

    i {
      visibility: visible;
      border-color: tomato;
    }

    small {
      visibility: visible;
      color: tomato;
    }
  }
}
