@import '~@sweetalert2/theme-dark/dark.scss';
@import 'styles/colors';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

.App {
  text-align: start;
  background-color: $background-color;
  height: 100vh;
}
