@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght%40300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap);

@import 'styles/fonts';

body {
  margin: 0;
  font-family: $fira-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
